h1 {
    text-align: center;
    font-family: 'Rubik Doodle Shadow', serif;
    font-size: 3rem;
    font-weight: bold;
}

body {
    background: linear-gradient(to left top, #078080, #fde24f);
}

.block {
    display: flex;
    margin: auto;
    border-radius: 30px;
    height: 300px;
    width: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1.5);
}

h2 {
    text-align: center;
    font-family: 'Rubik Doodle Shadow', serif;
    font-size: 2rem;
    font-weight: bold;
}